
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<div style ="margin-left:280px">
<h1 style="color:#e91e63; padding-left:150px">Hellooo Admin!  </h1>
<img src="~/assets/img/souq.icon1-removebg-preview.png" />
</div>
<br />
<br />
<br />