@model Souq.Models.Order
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Order</h1>
<hr />
<div class="col-sm-12 col-xl-11" style="margin-left:23px;">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">FAQ Table</h6>
        <table class="table table-hover">
            <tbody>

                <tr>
                    <form asp-action="Edit">
                    <th scope="row">1</th>
                    <td>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="UserID" class="control-label"></label>
                            <input asp-for="UserID" class="form-control" />
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>
                    </td>
                    <td>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary wer" />
                        </div>
                        <a asp-action="Index" class="btn btn-primary wer">Back </a>

                    </td>
                    </form>
                </tr>

            </tbody>
        </table>
    </div>

