@model Souq.Models.Product
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Create";
}



<h1>Create Product</h1>
<hr />


<div class="col-sm-12 col-xl-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Product Table</h6>
        <table class="table table-hover">
            <tbody>

                <tr>
                    <form asp-action="Create">
                    <th scope="row">1</th>
                    <td>
                        <div class="form-group">
                            <label class="control-label">Product</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="CreatedDate" class="control-label"></label>
                            <input asp-for="CreatedDate" class="form-control" />
                            <span asp-validation-for="CreatedDate" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <label asp-for="Image" class="tg-fileuploadlabel" for="tg-photogallery">
                                <div class="form-group">
                                    <input asp-for="Image" id="tg-photogallery" class="tg-fileinput" type="file" name="ImageFile" style="padding-top:28px;">
                                    <span asp-validation-for="Image" class="text-danger field-validation-valid" data-valmsg-for="ImageFile" data-valmsg-replace="true"></span>
                                </div>
                            </label>
                        </div>
                    <td>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                    </td>
                    </td>
                    <td>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary wer" />
                        </div>
                        <a asp-action="Index" class="btn btn-primary wer">Back </a>

                    </td>
                    </form>
                </tr>

            </tbody>
        </table>
    </div>
</div>
