@model Souq.Models.Product

@{
    ViewData["Title"] = "Delete";
}



<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">My Products</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="section-title"> Delete Products</h1>
<h3 style="text-align: center; margin-top: 20px;">Are you sure you want to <span style="color: #EB1616;">Delete</span> this Product?</h3>

<table class="custom-table center-table" id="myTable">
    <thead>
        <tr>
            <th>Product Image </th>
            <th>Product </th>
            <th>Description </th>
            <th>Price </th>
            <th>Date </th>
            <th>category </th>
          
        </tr>
    </thead>
    <tbody>
      
            <tr>
            <td> <img width="300" height="250" class="img-fluid" src="~/Imgs/@Model.Image" alt=""> </td>
            <td>@Model.Name</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
            <td>$@Model.Price </td>
            <td>  @Html.DisplayFor(model => model.CreatedDate)</td>
            <td>@Html.DisplayFor(model => model.category.Name) </td>
         
            </tr>
        
    </tbody>
</table>
<form asp-action="Delete" style="margin-left:35px; margin-top:15px;">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" style="background-color:#363b4d" class="btn btn-common">Back </a>
</form>
<div />
<br />
<br />

</div>