@model Souq.Models.Product

@{
    ViewData["Title"] = "Delete";
}



<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Products</h2>

                </div>
            </div>
        </div>
    </div>
</div>


<section class="featured section-padding">
    <div class="container">
        <h1 class="section-title"> Delete Products</h1>
        <h3>Are you sure you want to delete this Products?</h3>
        <div class="row">


            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">

                <div class="featured-box">
                    <div class="feature-content">
                        <div class="product">
                            <a href="#">Electronic &gt; </a>
                            <a href="#">Cameras</a>
                        </div>
                        <h4><a href="ads-details.html">@Html.DisplayFor(model => model.Name) </a></h4>
                        <div class="meta-tag">
                            <span>
                                <a href="#"><i class="lni-user"></i>              @Html.DisplayFor(model => model.UserID)</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-map-marker"></i>      @Html.DisplayFor(model => model.CreatedDate)</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-tag"></i>  </a>
                            </span>
                        </div>
                        <p class="dsc">             @Html.DisplayFor(model => model.Description)</p>
                        <div class="listing-bottom">
                            <h3 class="price float-left">$@Html.DisplayFor(model => model.Price)</h3>


                        </div>
                    </div>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index" class="btn btn-common">Back </a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>